/* premium room */
.premiumroom{
    padding-top: 37px;
    padding-bottom: 50px;
}
.premiumroom h3{
    font-size: 54px;
    line-height: 62px;
}
.premiumroom h4{
    font-size: 24px;
    line-height: 26px;
    
    color: #1C1C1C;
}
.premiumroom .rating{
    display: flex;
    flex-flow: row;
}
.premiumroom .rating .stars{
    list-style: none;
    display: flex;
    flex-flow: row;

    padding-left: 0px;
    margin-top: -8px;
}
.premiumroom .rating span{
    font-size: 14px;
    line-height: 16px;
}

.premiumroom .line{
    opacity: 0.1;
    border: 1px solid #000000;
}

/* detail room */
.detailroom{
    background: #FAF6F1;
}

/* phong nghi pho bien */
.phongnghiphobien{
    text-align: center;
    padding-bottom: 58px;
}
.phongnghiphobien h3{
    font-size: 52px;
    line-height: 60px;
    margin-top: 70px;
    margin-bottom: 50px;
}
.phongnghiphobien .item{
    padding-bottom: 50px;
    box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.15);
}
.phongnghiphobien .item .picture{
    background-image: url("../images/content_7_1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 21.51vw;

    margin-bottom: 20px;
}
.phongnghiphobien .item .picture span{
    position: relative;
    top: 85%;

    font-size: 24px;
    line-height: 26px;
    color: white;
}
.phongnghiphobien .item .detail{
    margin-top: 68px;

    font-size: 12px;
    line-height: 14px;

    color: #CF9D6C;
}




@media (max-width: 768px) {
    .phongnghiphobien{
        padding-bottom: 50px;
    }
    .phongnghiphobien h3{
        font-size: 34px;
        line-height: 39px;
        margin-bottom: 15px;
    }
    .phongnghiphobien .item{
        margin-right: 0px;
        margin-bottom: 30px;
    }
    .phongnghiphobien .item .picture{
        height: 60vw;
    }
}