/* premium room */
.premiumroom{
    padding-top: 37px;
    padding-bottom: 50px;
}
.premiumroom h3{
    font-size: 54px;
    line-height: 62px;
}
.premiumroom h4{
    font-size: 24px;
    line-height: 26px;
    
    color: #1C1C1C;
    margin-bottom: 40px;
}
.premiumroom .line{
    opacity: 0.1;
    border: 1px solid #000000;
}

.premiumroom .rating{
    display: flex;
    flex-flow: row;
}
.premiumroom .rating .stars{
    list-style: none;
    display: flex;
    flex-flow: row;

    padding-left: 0px;
    margin-top: -8px;
}
.premiumroom .rating span{
    font-size: 14px;
    line-height: 16px;
}
.premiumroom .shortinfo ul{
    list-style: none;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;

    padding-left: 0px;
    padding-top: 10px;
}
.premiumroom .shortinfo .iteminfo{
    width: 180px;
    margin-bottom: 15px;
}
.premiumroom .shortinfo .iteminfo .iteminfo_symbol{
    margin-right: 10px;
}

.premiumroom .banner img{
    width: 100%;
}
.premiumroom .listpicture{
    list-style: none;
    display: flex;
    flex-flow: row;

    padding-top: 0.85vw;
    padding-left: 0px;
    align-self: start;
}
.premiumroom .listpicture li{
    margin-left: 0.85%;
    margin-right: 0.85%;
    width: 16.67%;
}
.premiumroom .listpicture li img{
    width: 100%;
}

.premiumroom .giaphong{
    background: #423A36;
    color: #ffffff;
    
    padding-top: 30px;
    padding-bottom: 42px;
}
.premiumroom .giaphong .chitu{
    font-size: 16px;
    line-height: 18px;

    margin-bottom: 13px;
}
.premiumroom .giaphong .dongia{
    font-size: 34px;
    line-height: 26px;
}
.premiumroom .giaphong .pernight{
    font-size: 16px;
    line-height: 26px;
}

.premiumroom .datphong{
    padding-top: 44px;
    padding-bottom: 40px;

    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.07);
}
.premiumroom .datphong .line{
    margin-top: 13px;
    margin-bottom: 30px;
}
.premiumroom .datphong .roboto{
    font-size: 16px;
    line-height: 19px;

    color:#1C1C1C;
    margin-left: 10px;
}
.premiumroom .datphong .minus{
    margin-right: 30px;
}
.premiumroom .datphong .tong{
    font-size: 24px;
    line-height: 26px;
}
.premiumroom .datphong .price{
    font-size: 34px;
    line-height: 26px;

    color: #CF9D6C;
}
.premiumroom .datphong .bookingbutton{
    margin-top: 30px;
    padding: 17px 122px 17px 122px;

    background: #CF9D6C;
    color: white;
    border-radius: 5px;

    font-size: 18px;
    line-height: 21px;
}

/* detail room */
.detailroom{
    background: #FAF6F1;
}

/* phong nghi pho bien */
.phongnghiphobien{
    text-align: center;
    padding-bottom: 58px;
}
.phongnghiphobien h3{
    font-size: 52px;
    line-height: 60px;
    margin-top: 70px;
    margin-bottom: 50px;
}
.phongnghiphobien .item{
    padding-bottom: 50px;
    box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.15);
}
.phongnghiphobien .item .picture{
    background-image: url("../images/content_7_1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 21.51vw;

    margin-bottom: 20px;
}
.phongnghiphobien .item .picture span{
    position: relative;
    top: 85%;

    font-size: 24px;
    line-height: 26px;
    color: white;
}
.phongnghiphobien .item .detail{
    margin-top: 68px;

    font-size: 12px;
    line-height: 14px;

    color: #CF9D6C;
}




@media (max-width: 768px) {
    .phongnghiphobien{
        padding-bottom: 50px;
    }
    .phongnghiphobien h3{
        font-size: 34px;
        line-height: 39px;
        margin-bottom: 15px;
    }
    .phongnghiphobien .item{
        margin-right: 0px;
        margin-bottom: 30px;
    }
    .phongnghiphobien .item .picture{
        height: 60vw;
    }
}